@use 'variables';

.new-tweet-container {
  display: flex;
  flex-direction: column;
  font-family: variables.$page-font;
  font-weight: 500;
}

.form-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
  float: left;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

textarea {
  width: 100%;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-bottom-width: 3px;
  border-bottom-color: black;
  background-color: variables.$page-background-color;
  resize: none;
  height: 4em;
}

textarea:focus {
  outline: none;
}

button {
  background-color: variables.$nav-blue;
  color: #FFFFFF;
  font-family: variables.$bungee-font;
  border: 0;
}

.counter {
  font-family: variables.$bungee-font;
}
