
nav {
    font-family: 'Bungee';
    height: 120px;
    display: flex;
    width: 100%;
    background-color: #4056A1;
    justify-content: space-between;
    position: fixed;
    
}

.nav-write-a-new-trweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span#nav-logo {
    color: #FFFFFF;
    margin: 1.5em;
    height: auto;
    align-items: center;
    font-size:xx-large;
}

span#nav-slogan {
  color: #FFFFFF;
  font-family: sans-serif;
  margin-right: 1.5em;
  font-size: larger;
}

i {
  color: red;
  text-align: center;
}
