.tweets-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 3em;
  border-style: solid;
  border-width: 3px;
  padding: 1em;
}

.tweets-container:hover {
  box-shadow: 10px 10px gray;
  
}

.tweets-header {
  display: flex;
  justify-content: space-between;
}

.tweets-header-left {
  display: flex;
  justify-content: space-between;
}

.fa-user {
  margin-top: 0.5em;
  margin-right: 1em;
  color: gray;
}

/* .tweets-header-right p:hover{
  text-shadow: 1px 1px gray;
} */

.tweets-footer {
  display: flex;
  justify-content: space-between;
  
}

.day {

}

.tweets-footer-icon {
  display: block;
  
  
}
.footer-icon {
  color: #4056A1;
  margin-top: 1em;
}

.footer-icon:hover {
  color: #cc7a00;
}